<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Web3 Jobs - Crypto, Web3 and Blockchain Jobs in our Telegram Bot</title>
    <meta
      name="description"
      content="Browse job offers from web3 and receive notifications when new blockchain jobs appear."
    />
    <link rel="icon" href="./icons/favicon.svg" type="image/svg+xml" />
    <meta name="theme-color" content="#ffffff " />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.min.css" />
    <script src="./js/script.min.js" defer></script>
  </head>
  <body>
    <main class="main">
      <div class="container">
        <div class="main__top">
          <a href="#" class="main__top--logo">
            <img src="./icons/logo.svg" alt="logo" />
          </a>
        </div>
        <div class="main__wrapper">
          <div class="main__info">
            <h1 class="main__info--title">
              The best place for professionals looking for Web3 jobs!
            </h1>
            <p class="main__info--subtitle">
              The Web3 Jobs bot monitors companies that have received investments from Web3-focused
              venture capital funds, as well as funds of major crypto ecosystems.
            </p>
            <a href="https://t.me/jobs_web3_bot" class="btn">
              <img src="./icons/telegram.svg" alt="telegram" />
              <span>Go to the Telegram bot</span>
            </a>
          </div>
          <div class="main__img">
            <img src="./img/case.png" alt="case" />
          </div>
        </div>
      </div>
    </main>
    <section class="statistics">
      <div class="statistics__container">
        <h2 class="statistics__title">THE BOT NOW OFFERS</h2>
        <div class="statistics__wrapper">
          <div class="statistics__card">
            <div class="statistics__card--num" id="vacancies">Loading...</div>
            <div class="statistics__card--text">vacancies from</div>
          </div>
          <div class="statistics__card">
            <div class="statistics__card--num" id="companies">Loading...</div>
            <div class="statistics__card--text">companies</div>
          </div>
          <div class="statistics__card">
            <div class="statistics__card--num" id="week">Loading...</div>
            <div class="statistics__card--text">
              jobs added <br />
              in the last <span>7 days</span>
            </div>
          </div>
        </div>
        <a href="https://t.me/jobs_web3_bot" class="btn primary">
          <img src="./icons/telegram-primary.svg" alt="telegram" />
          <span>Go to the Telegram bot</span>
        </a>
      </div>
    </section>
    <div class="running">
      <p class="running-text">
        JOIN TODAY JOIN TODAY JOIN TODAY JOIN JOIN TODAY JOIN TODAY JOIN TODAY
      </p>
    </div>
    <section class="info">
      <div class="container">
        <ul class="info__list">
          <li class="info__list--item">
            <div class="info__list--num">
              <img src="./icons/1.svg" alt="1" />
            </div>
            <div class="info__list--text">
              <span>Boost your chances</span>
              of finding the Web3 job of your dreams with the Web3 jobs bot.
            </div>
          </li>
          <li class="info__list--item">
            <div class="info__list--num"><img src="./icons/2.svg" alt="1" /></div>
            <div class="info__list--text">
              You'll have access to the most
              <span>complete</span>
              list of jobs related to your profession.
            </div>
          </li>
          <li class="info__list--item">
            <div class="info__list--num"><img src="./icons/3.svg" alt="1" /></div>
            <div class="info__list--text">
              You'll be the first to learn about
              <span>new openings.</span>
            </div>
          </li>
        </ul>
        <div class="info__wrapper">
          <div class="info__card">
            <div class="info__card--top">
              <img src="./img/info1.png" alt="info1" class="info__card--bg" />
              <img src="./icons/Info-icon1.svg" alt="info-icon1" class="info__card--icon" />
              <div class="info__card--text">
                The most comprehensive <br />
                job database out there
              </div>
            </div>
            <div class="info__card--title">
              We are <span>way ahead</span> of other bots and job boards in terms of the number of
              companies whose vacancies we track.
            </div>
          </div>
          <div class="info__card">
            <div class="info__card--top">
              <img src="./img/info2.png" alt="info1" class="info__card--bg" />
              <img src="./icons/Info-icon2.svg" alt="info-icon1" class="info__card--icon" />
              <div class="info__card--text">
                Smart job <br />
                search
              </div>
            </div>
            <div class="info__card--title">
              Track <span>new jobs</span> by category, keyword, or company you are interested in.
            </div>
          </div>
          <div class="info__card">
            <div class="info__card--top">
              <img src="./img/info3.png" alt="info1" class="info__card--bg" />
              <img src="./icons/Info-icon3.svg" alt="info-icon1" class="info__card--icon" />
              <div class="info__card--text">
                New job <br />
                notifications
              </div>
            </div>
            <div class="info__card--title">
              Receive notifications about new jobs as they appear and respond to jobs
              <span>faster</span> than anyone else.
            </div>
          </div>
        </div>
        <a href="https://t.me/jobs_web3_bot" class="btn primary">
          <img src="./icons/telegram-primary.svg" alt="telegram" />
          <span>Go to the Telegram bot</span>
        </a>
      </div>
    </section>
    <section class="pay">
      Pay <span>$20</span> a month for a tool that will help you <br />
      find a <span>$100k</span>-a-year job!
    </section>

    <section class="subscription">
      <div class="container">
        <h2 class="subscription__title">Get your subscription:</h2>
        <div class="subscription__wrapper">
          <div class="subscription__card">
            <div class="subscription__card--top">
              <div class="subscription__card--duration">1 MONTH</div>
              <div class="subscription__card--sum">$20</div>
            </div>
            <a href="https://t.me/jobs_web3_bot" class="subscription__card--btn"
              >Get your free <span>5-day trial</span> now!</a
            >
          </div>
          <div class="subscription__card primary">
            <div class="subscription__card--top">
              <div class="subscription__card--duration">1 YEAR</div>
              <div class="subscription__card--sum">$200</div>
            </div>
            <a href="https://t.me/jobs_web3_bot" class="subscription__card--btn"
              >Get your free <span>5-day trial</span> now!</a
            >
            <div class="subscription__card--bookmark">
              <img src="./icons/bookmark.svg" alt="bookmark" />
              <p>save <span>$40</span></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="propgram">
      <div class="container">
        <div class="propgram__wrapper">
          <div class="propgram__img">
            <img src="./img/rocket.png" alt="rocket" />
          </div>
          <div class="propgram__content">
            <h2 class="propgram__content--title">
              Join our referral program and earn 50% of all payments made by the users you referred!
            </h2>
            <p class="propgram__content--text">
              As long as the user remains our customer, you will receive lifetime payments.
            </p>
            <a href="https://t.me/jobs_web3_bot" class="btn primary">
              <img src="./icons/telegram-primary.svg" alt="telegram" />
              <span>JOIN TODAY</span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
      <div class="container">
        <div class="footer__wrapper">
          <a href="#" class="main__top--logo">
            <img src="./icons/logo-white.svg" alt="logo" />
          </a>
          <div class="footer__social">
            <a href="https://t.me/jobs_web3_bot" class="footer__social--link">
              <img src="./icons/telegram.svg" alt="telegram" />
              <span>@jobs_web3_bot</span>
            </a>
            <a href="https://t.me/jobs_web3_bot_support" class="footer__social--link">
              <img src="./icons/material.svg" alt="material" />
              <span>Get support</span>
            </a>
            <a href="mailto:team@web3jobsbot.com" class="footer__social--link">
              <img src="./icons/mail.svg" alt="material" />
              <span>E-mail</span>
            </a>
            <a href="https://telegra.ph/Terms-of-use-for-jobs-web3-bot-01-28" class="footer__social--link">
              <img src="./icons/doc.svg" alt="material" />
              <span>Terms of usage</span>
            </a>
          </div>
        </div>
      </div>
    </footer>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V1WJKFRP2R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V1WJKFRP2R');
</script>
    <script>
    // Функция для отправки запроса на сервер и обновления данных на странице
      async function updateStatistics() {
        try {
            const response = await fetch('/get_site_count_vacancy');
            const data = await response.json();

            // Обновление данных на странице
            document.getElementById('vacancies').textContent = data.total_vacancies;
            document.getElementById('companies').textContent = data.unique_company;
            document.getElementById('week').textContent = data.posted_last_week;
        } catch (error) {
            console.error('Error updating statistics:', error);
        }
      }

      // Вызов функции обновления статистики при загрузке страницы
      document.addEventListener('DOMContentLoaded', updateStatistics);
    </script>
  </body>
</html>
