
    {% extends 'base.html' %}

    {% block title %}Список юзеров{% endblock %}

    {% block content %}
    <div class="container">
        <h1 class="mt-5">Список юзеров</h1>
        <form method="post" action="{{ url_for('user_list') }}">
          {{ form.hidden_tag() }}
          <div class="form-check filter_line">
              {{ form.paid_year(class="form-check-input") }}
              <label class="form-check-label" for="{{ form.paid_year.id }}">Платный (на год)</label>
          </div>
          <div class="form-check filter_line">
              {{ form.paid_monthly(class="form-check-input") }}
              <label class="form-check-label" for="{{ form.paid_monthly.id }}">Платный (на месяц)</label>
          </div>
          <div class="form-check filter_line">
              {{ form.trial(class="form-check-input") }}
              <label class="form-check-label" for="{{ form.trial.id }}">Триал</label>
          </div>
          <div class="form-check filter_line">
              {{ form.promo(class="form-check-input") }}
              <label class="form-check-label" for="{{ form.promo.id }}">Промо</label>
          </div>
          <div class="form-check filter_line">
              {{ form.free(class="form-check-input") }}
              <label class="form-check-label" for="{{ form.free.id }}">Бесплатный</label>
          </div>
          <button type="submit" class="btn btn-primary filter_line" style='margin-top: -5px;'>Фильтровать</button>
      </form>
      <br>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">username</th>
                <th scope="col">Тариф</th>
                <th scope="col">Окончание тарифа</th>
                <th scope="col">Дата регистрации</th>
                <th scope="col">Подарить промо на месяц</th>
            </tr>
        </thead>
        <tbody>
          {% for row in users %}
              <tr>
                  {% for value in row %}
                      <td>{{ value }}</td>
                  {% endfor %}
                  <td><a href="/promo_month?telegram_id={{row[0]}}">Подарить</a></td>
              </tr>
          {% endfor %}
        </tbody>
    </table>
  

      <style media="screen">
        .filter_line{
          float:left;
          margin-left: 5px;
        }
      </style>
    </div>
    {% endblock %}
